<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
    <ion-title>Editar tarea</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-item>
    <ion-label position="floating">Título</ion-label>
    <ion-input clearInput [(ngModel)]="task.title"></ion-input>
  </ion-item>
  <ion-item>
    <ion-label position="floating">Descripción</ion-label>
    <ion-input clearInput [(ngModel)]="task.description"></ion-input>
  </ion-item>
  <br>
  <ion-button (click)="saveTask(task)" expand="full">
    Guardar
  </ion-button>
</ion-content>
