<ion-header>
  <ion-toolbar>
    <ion-title>
      Tareas
    </ion-title>
    <ion-buttons slot="end" padding>
      <ion-button>
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding">
    <ion-list>
      <ion-item>
        <ion-label>Ordenar el escritorio</ion-label>
        <ion-icon name="trash"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Hacer la colada</ion-label>
        <ion-icon name="trash"></ion-icon>
      </ion-item>
      <ion-item>
        <ion-label>Revisar el armario</ion-label>
        <ion-icon name="trash"></ion-icon>
      </ion-item>
    </ion-list>
  </div>
</ion-content>